<!DOCTYPE html>
<!-- 创建thymeleaf的名称空间 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书籍展示</title>
    <style>
        a {
            color: black;
            text-decoration: none;
            font-size: 18px;
        }
    </style>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>书籍列表 —————— 显示所有书籍</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 column">
            <a th:href="@{/book/toAddBook}">添加书籍</a>
            a th:href="@{/book/allBook}">显示全部书籍</a>
        </div>
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column">
            <form th:action="@{/book/queryBook}" method="post" style="float: right">
                <input type="text" name="queryBookName" class="form-control" placeholder="请输入要查询的书籍">
                <input type="submit" value="查询" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>书籍编号</th>
                        <th>书籍名称</th>
                        <th>书籍数量</th>
                        <th>书籍详情</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <th th:text="${book.bookId}"></th>
                        <th th:text="${book.bookName}"></th>
                        <th th:text="${book.bookCounts}"></th>
                        <th th:text="${book.detail}"></th>
                        <th>
                            <a th:href="@{'/book/toUpdateBook/'+${book.bookId}}">修改</a>
                            <a th:href="@{'/book/deleteBook/'+${book.bookId}}">删除</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>