<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwn.mapper.BookMapper">
<!--    int addBook(Books books);-->
    <insert id="addBook" parameterType="Books">
        insert into `books` values (null ,#{bookName},#{bookCounts},#{detail})
    </insert>

<!--    int deleteBookById(Integer id);-->
    <delete id="deleteBookById">
        delete from `books` where book_id = #{id}
    </delete>

<!--    int updateBook(Books books);-->
    <update id="updateBook" parameterType="Books">
        update `books` set  book_name=#{bookName},book_counts=#{bookCounts},detail=#{detail} where book_id=#{bookId}
    </update>

<!--    Books queryBookById(Integer id);-->
    <select id="queryBookById" resultType="books">
        select * from `books` where book_id = #{id}
    </select>

<!--    List<Books> queryAllBooks();-->
    <select id="queryAllBooks" resultType="books">
        select * from `books`
    </select>

    <select id="queryBookByName" resultType="books">
        select * from `books` where book_name like '%${bookName}%'
    </select>
</mapper>